.player(id=`${username}`)
    h4= username
    h3.team= ''
    h3.role= ''
    button(id=`${username}` onclick="updatePlayerMsg('role', 'spymaster')") Spymaster 
    button(id=`${username}` onclick="updatePlayerMsg('role', 'operative')") Operative 
    button(id=`${username}` onclick="updatePlayerMsg('team', 'red')") Red 
    button(id=`${username}` onclick="updatePlayerMsg('team', 'blue')") Blue 