mixin players(players)
    p Red Team
    ul#red-team
        each player in players
            if player.team === 'red'
                li= player.username
    p Blue Team
    ul#blue-team
        each player in players
            if player.team === 'blue'
                li= player.username

mixin board(cards)
    each card, idx in cards
        button.card(class=card.revealed ? card.cardType : '' data-index=idx)= card.agent

mixin scores(redScore, blueScore)
    p#scores
        span#score-red= redScore
        | -
        span#score-blue= blueScore

mixin playerBoxes(players)
    each player in players
        //- This would probably be a good spot for those player IDs that we were talking about
        div.player(id=`${player.username}` class=`${player.team} ${player.role}`)
            h4= player.username
            h3(class=`${player.username} team`)= `${player.team}`
            h3(class=`${player.username} role`)= `${player.role}`