extends layout

block content
    if !inProgress
        dialog#lobby
            h2 Lobby #{roomCode}
            #players
                each player in players
                    //- This would probably be a good spot for those player IDs that we were talking about
                    div.player(id=`${player.username}` class=`${player.team} ${player.role}`)
                        h4= player.username
                        h3(class=`${player.username} team`)= `${player.team}`
                        h3(class=`${player.username} role`)= `${player.role}`
            button(id="start-game") Start game
            button#leave-lobby(href="/") Leave lobby
        script(defer).
            window.onload = () => document.getElementById('lobby').showModal()
            
    if !username
        dialog#usernameCheck
            label(for="username") Enter username
            input(type="text" name="username" id="username" autofocus)
            button(id="submit") Submit
            a(href="/") Return to main menu
        script(defer).
            window.onload = () => document.getElementById('usernameCheck').showModal()

    h1 Room #{roomCode}
    button#leave-room Leave room

    #board
        each card, idx in cards
            button.card(class=card.revealed ? card.role : '' data-index=idx)= card.agent
    
    script(src="/js/room.js" defer)