extends layout

block content
    if !inProgress
        dialog#lobby
            h2 Lobby #{roomCode}
            #players
                each player in players
                    div.player(id=`${player.username}`)
                        h4= player.username
                        input(type="radio" name=`role-${player.username}` id="spymaster" value="spymaster")
                        label(for="spymaster") spymaster
                        input(type="radio" name=`role-${player.username}` id="operative" value="operative")
                        label(for="operative") operative
                        input(type="radio" name=`team-${player.username}` id="red" value="red")
                        label(for="red") red
                        input(type="radio" name=`team-${player.username}` id="blue" value="blue")
                        label(for="blue") blue
            button(id="start-game") Start game
            button#leave-lobby(href="/") Leave lobby
        script(defer).
            window.onload = () => document.getElementById('lobby').showModal()
            
    if !username
        dialog#usernameCheck
            label(for="username") Enter username
            input(type="text" name="username" id="username" autofocus)
            button(id="submit") Submit
            a(href="/") Return to main menu
        script(defer).
            window.onload = () => document.getElementById('usernameCheck').showModal()

    h1 Room #{roomCode}
    button#leave-room Leave room

    #board
        each card, idx in cards
            button.card(class=card.revealed ? card.role : '' data-index=idx)= card.agent
    
    script(src="/js/room.js" defer)